* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: bisque;
}

.table {
    width: 80%;
    margin: 20px auto;
}

.table td, .table th {
    border: 1px solid gray;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    background-color: burlywood;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: aquamarine;
    display: block;
    padding: 10px;
}
.mon-bouton {
    background-color: #4CAF50; /* Couleur de fond */
    border: none;
    color: white; /* Couleur du texte */
    padding: 12px 24px; /* Espace intérieur */
    text-align: center; /* Alignement du texte */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Curseur de souris */
    border-radius: 10px; /* Arrondi des coins */
  }
  
  .mon-bouton:hover {
    background-color: #3e8e41; /* Couleur de fond au survol */
  }
  